---
const recordingLine = [
  // "Diana Berg Teixeira Marco", episódio 121 de 20 de abril de 2026
  //"Pedro Lauria", episódio 122 de 27 de abril de 2026
  "Rafael Rodrigues Manenti",
  "Rodrigo Heleno Da Silva",
  "Thiago Aparecido Da Silva",
  "Hercules Tadeu Asato Dant",
  "Leandro Savio Rodrigues B",
  "Isis De Almeida Ranauro",
  "Felipe Ribeiro Duarte",
  "Larissa Eva Maciel De Aqu",
  "Julia Pierre Figueiredo",
  "Bruno Gheler Magnusson",
  "Julia Moreira"
];

const formatName = (name: string) => {
  return name
    .toLowerCase()
    .split(" ")
    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
};
---

<div id="RecordingLine">
	<main>
		<h1>Fila de gravação!</h1>
		
		<br/>

		<h4>Colaboradores da categoria Invasão Mental pelo Gabuzinho ordenados a serem convidados para as próximas gravações.</h4>
		
		<br/>

		<ul>
			{recordingLine.map((name, index) => (
			<li>
				<span class="lineIndex">{index + 1}</span>
				<span class="lineName">{formatName(name)}</span>
			</li>
			))}
		</ul>

		<br/>

		<h5>Muito obrigado mais uma vez pela força que deram pra mim e pro meu cachorro.</h4> 
        
        <br/>
    
        <h1>Vocês são incríveis.</h1>
	</main>
</div>

<style>
	div {
		color: var(--azul-medio);
		background-color: var(--amarelo);
	}

	main {
		padding: 3em auto;
	}

	ul {
		text-align: center;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	.lineIndex {
		font-weight: bolder;
		color: var(--vermelho);
	}

	.lineName {
		color: var(--branco);
	}

    h1 {
		color: var(--azul-escuro);
		text-align: center;
		margin: auto;
	}

	h4 {
		color: var(--azul-medio);
		text-align: center;
		margin: 0 auto;
	}
    
	h5 {
		color: var(--azul-medio);
		text-align: center;
		margin: 0 auto;
	}

	p {
		text-align: center;
		margin: 1em auto 0;
	}

	.icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
		margin: 0 auto;
	}

	.icons a {
		text-decoration: none;
		color: var(--amarelo);
	}

	.icons a:hover {
		color: var(--ciano);
	}
</style>